<div class="banner">
    <h1>Recent Publications</h1>
    <div class="home-image">
        <div id="main-banner-image">
            <a class="banner-image" href="">
                <img alt="" class="left-banner-image" src="{{ site.baseurl }}/assets/images/publications/"/>
                <span id="left-banner-image-title" class="banner-image-title"></span>
            </a>
        </div>
		</div>
    <div id="top-right-banner-image">
            <!--<a class="banner-image" href="">
                <span id="top-right-banner-image-title" class="banner-image-title"></span>
                <img alt="" class="top-right-banner-image" src="{{ site.baseurl }}/assets/images/publications/">
            </a>-->

	  	  
	      		<ul class="publication-icon-list">
              {% assign sorted_publications = site.publications | sort: 'year' %}
            {% for publication in sorted_publications reversed %}
            {% if publication.personal %}
	          {% elsif publication.year > 2017 %} <!-- and publication.type == "paper" -->
            <li>
              <div style="padding-right: 1.5em;"><a href="{{ site.baseurl }}{{ publication.url }}">{{ publication.title }}</a></div>
              <div style="margin-bottom: 5px;">
              {% if publication.type == "thesis" %}
                {{ publication.thesis_type }}, {{ publication.month }} {{ publication.year }}
              {% else %}
                {{publication.journal-short}}, {{publication.year}}
              {% endif %}
              </div>
            </li>
            {% endif %}
	          {% endfor %}
	      		</ul>
    </div>
				
        <script>
            publications.sort(function () {
                return .5 - Math.random();
            });

            var i = 0;
            ["#main-banner-image","#top-right-banner-image", "#bottom-right-banner-image"].forEach(function (id) {

                var pub = publications[i];
                console.log(publications);
                i++;
                var bannerImg = document.querySelector(id + " img");
                bannerImg.alt = pub.shortname;
                bannerImg.src += pub.image_large;

                var bannerLink = document.querySelector(id + "  a")
                bannerLink.href = pub.url;
                
                //shorten title of too long
                //var titleLength = -1;
                //if(i == 1){
                //	titleLength = 66;
                //}else{
                //	titleLength = 30;
                //}
                //if(pub.title.length > titleLength){
                //	pub.title = pub.title.substring(0, titleLength) + "...";
                //}
                
                var bannerText = document.querySelector(id + " span")
                bannerText.innerText = pub.title;
            });

        </script>
</div>
