<div class="navigation">
    <div class="logo">
    		<a href="/">
        	<img src="{{ site.baseurl }}/assets/images/logos/soarlab.png" alt="soarlab logo">
        </a>
    </div>
    
    <div class="soc">
    		<a href="/">
        	<img src="{{ site.baseurl }}/assets/images/logos/utah_soc_trans.png" alt="soc logo">
        </a>
        <p class="blake"><i>"No bird soars too high, if he soars with his own wings."</i>&nbsp;&nbsp;&nbsp;W. Blake</p>
    </div>
    
    <div class="navigation-buttons">
	  <ul> <!-- culture -->
      {% assign navButtons = "home|team|publications|positions" | split: "|" %}
      {% for nav in navButtons %}
        {% assign navURL = nav %}
        {% assign pageURL = page.url %}
        {% assign pageURLSplit = page.url | split: "/" %}
        {% if nav == "home" %}
          {% assign navURL = "" %}
        {% endif %}
        
        {% if pageURLSplit[1] == navURL %}
          <li class="{{ nav }}-button">
            <a class="active" href="{{ site.baseurl }}/{{ navURL }}">
            	<span class="nav-text">{{ nav }}</span></a>
          </li>

        {% elsif navURL == "" and pageURL == "/" %}
          <li class="{{ nav }}-button">
            <a class="active" href="{{ site.baseurl }}/{{ navURL }}">
            	<span class="nav-text">{{ nav }}</span></a>
          </li>
        
        {% else %}
          <li class="{{ nav }}-button">
            <a href="{{ site.baseurl }}/{{ navURL }}">
            	<span class="nav-text">{{ nav }}</span></a>
          </li>
        {% endif %}
      {% endfor %}
	  </ul>
    </div>
</div>
