<!DOCTYPE html>
<html>

<head>
    {% include head_default.html %}

    <!-- Here we write the publications into the publications javascript variable -->

    {% capture publications %}
    [
    {% for publication in site.publications %}

    {% if publication.personal  %}
    {% elsif publication.image_large and publication.year > 2017 and publication.type == "paper"%}
    {
    "title"    : "{{ publication.title }}",
    "shortname" : "{{ publication.shortname }}",
    "url"      : "{{ publication.url }}",
    "image_large"     : "{{ publication.image_large }}",
    }
    {% if forloop.last %}{% else %},{% endif %}
    {% endif %}
    {% endfor %}
    ]
    {% endcapture %}

    <script>
    var publications = {{ publications }}
    </script>
</head>

<body>

<div class="wrap">
{% include header.html %}
	
	<div id="content-div-main">
  	<article class="home-content-main">

  	<h1>About</h1>
  	
    <img alt="soarlab logo" id="central-page-logo" src="{{ site.baseurl }}/assets/images/logos/soarlablogo.png"/>
    
<span> SOARlab's research mission is to improve the reliability and resilience of complex software systems by empowering developers with practical tools and techniques for analysis of their artifacts. We are interested in any technique or method that supports our research mission, including but not limited to: extended static checking, automated theorem proving, model checking, and runtime verification. Currently, our emphasis is on highly automatic and scalable analysis techniques for software, in particular for concurrent software.</span>
<br><br>
<span>
We are part of the School of Computing at the University of Utah.
</span>

<div id="people-div-main">
<h1>People</h1>

<img alt="people" id="central-page-logo" src="{{ site.baseurl }}/assets/images/home/group.jpg"/>
<span> From left to right: Ankit Agrawal, Jack Garzella, Zvonimir Rakamaric, Maryam Dabaghchian, Marek S. Baranowski, Liam Machado, Shaobo He, Rocco Salvia
</div>

<!--
 <h1>News <span class="left-icon"><a href="{{ site.baseurl }}/feed.xml"><i class="fa fa-rss"></i></a></span></h1>

  <ul class="post-list">
    {% for post in site.posts limit:4 %}
      <li class="post-list-item">
		   <div class="right-text">{{ post.date | date: "%-d %b %Y" }}</div>
        <div class="post-list-title">
          {{ post.title }}
        </div>
        <div class="post-list-excerpt">
		  {{ post.content | truncatewords: 160 }}
        </div>
  		<div><a class="post-list-link" href="{{ site.baseurl }}{{ post.url }}">More...</a></div>         
      </li>
    {% endfor %}
  </ul>
  <div class="all-news-link"><a href="news">See All News</a></div>
-->  

</article>

<article class="home-content-aside">

<h1>Twitter</h1>

<!--<a class="twitter-timeline" data-dnt="true" data-chrome="nofooter noborders noscrollbar transparent" height="206" data-tweet-limit="2" href="https://twitter.com/hashtag/soarlab" data-widget-id="626957158945390592">#soarlab</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script> -->

<a class="twitter-timeline" data-chrome="nofooter noborders noheader noscrollbar" data-tweet-limit="3" href="https://twitter.com/soarlab?ref_src=twsrc%5Etfw"> </a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</article>

{% include banner.html %}
</div>
    {% include footer.html %}
</div>

{% if site.use_analytics == true %}
{% include google_analytics.html %}
{% endif %}

</body>
</html>
