---
layout: default
---
  <article class="publications-content">

    <h1>Journals</h1>
    {% for publication in site.publications reversed %}
      {% if publication.personal %}
      {% elsif publication.type == "preprint" %}
        {% include publication_list_entry.html %}
      {% endif %}
    {% endfor %}


    <h1>Conference Papers </h1>
    {% for publication in site.publications reversed %}
      {% if publication.personal %}
      {% elsif publication.type == "paper" %}
        {% include publication_list_entry.html %}
      {% endif %}
    {% endfor %}

    <h1>Workshops</h1>
    {% for publication in site.publications reversed %}
      {% if publication.personal %}
      {% elsif publication.type == "commentary" %}
        {% include publication_list_entry.html %}
      {% endif %}
    {% endfor %}
    
    <h1>Other</h1>
    {% for publication in site.publications reversed %}
      {% if publication.personal %}
      {% elsif publication.type == "poster" %}
        {% include publication_list_entry.html %}
      {% endif %}
    {% endfor %}
    
    <div id="copyright">
Copyright notice: This material is presented to ensure timely dissemination of scholarly and technical work. Copyright and all rights therein are retained by 		authors or by other copyright holders. All persons copying this information are expected to adhere to the terms and constraints invoked by each author’s copyright.
    </div>
    <!-- <h1>Commentaries, Editorials, Book Chapters & Published Abstracts </h1>-->


  </article>
 
<script>
function myFunction(val) {
    var x = document.getElementById(val);
    //console.log(x.style.display);
    if (x.style.display === "block") {
        x.style.display = "none";
    } else {
        x.style.display = "block";
    }
}
</script>


